.options__colorContainer {
  margin-top: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .options__colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .options_img {
    width: 50px;
  }
}
